body {
  background: lightpink;
  text-align: center;
  font-size: 18px;
}

p {
  font-size: 1.6em;
}

#alphabet li {
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
  width: 35px;
  height: 30px;
  padding-top: 10px;
  background: #fff;
  color: darkblue;
  cursor: pointer;
  border: solid 1px #fff;
}

#alphabet:after {
    content: "";
    display: table;
    clear: both;
}
#alphabet {
    margin: 15px auto;
    padding: 0 0 0 15px;
}
.category {
  float: left;
}

.hiddenword {
    margin: 0;
    padding: 0;
    display: block;
}

.hiddenword li {
    position: relative;
    list-style: none;
    margin: 5px;
    display: inline-block;
    padding: 0 10px;
    height: 20px;
}
.wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.guess {
  border-bottom: 1px solid black;
}
.categoryName {
  float: left;
}
.hidden {
  display: none;
}
#alphabet li.deactivate {
  background-color: grey;
}
