body {
  background: lightpink;
}

#alphabet li {
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
  width: 35px;
  height: 30px;
  padding-top: 10px;
  background: #fff;
  color: darkblue;
  cursor: pointer;
  border: solid 1px #fff;
  text-align: center;
}
